# Dependencies
node_modules/
dist/
.npm/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Tooling
.vscode/
.history/
*.log
thunder-tests/

# Environment & Config
.env
.env.local

# Build Temporaries
.cache/