# Dependencies
# Bloqueamos la carpeta pesada, pero PERMITIMOS el lock file
node_modules/
.pnp
.pnp.js

# Build & Dist
dist/
build/
out/
.cache/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini

# IDE & Editors
# Ignoramos configuraciones personales de VS Code
.vscode/
.idea/
.history/
*.swp
*.swo
*~
.sublime-*
.code-workspace

# Environment Variables
# MUY IMPORTANTE: Nunca subir las llaves maestras
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Runtime & Temporary
.npm/
.vercel/
test-results/