@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 15, 23, 42;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }

  .dark {
    --foreground-rgb: 248, 250, 252;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 2, 6, 23;
  }

  body {
    @apply antialiased text-slate-900 bg-white dark:bg-slate-950 dark:text-slate-100 transition-colors duration-300;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
  }
}

/* Scrollbars minimalistas para las columnas de TaskFlow */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700;
}

/* Eliminar el estilo por defecto de los inputs de fecha en Dark Mode */
input[type="date"]::-webkit-calendar-picker-indicator {
  @apply dark:invert opacity-50;
}
